/* NAV BAR  */

.input-group {
    background-color: #e5e5e5;
    border-radius: 4px;
}

.input-group input {
    background-color: #e5e5e5;
    border: transparent;
}

.input-group btn {
    border: transparent;
}

/* MAIN  */

main {
    height: calc(100vh - 80px);
    width: 100vw;
    display: flex;
}

#main-section {
    overflow-y: auto;
    height: calc(100vh - 80px - 100px);
}

/* ASIDE BAR */

aside {
    color: white;
    background-color: #051e34;
    min-width: 60px;
    max-width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

* a {
    cursor: pointer;
}

/* HEADER */

header {
    background-color: #1b72e8;
    height: 100px;
    width: 100%;
}

.badge {
    background-color: #165bba;
    border-radius: 30px;
    padding: .5em;
    font-size: .6em;
    font-weight: 400;
}

td.d-flex button {
    width: 30px;
    height: 30px;
}

th p {
    margin-bottom: 0;
}

.text-bg-success {
    background-color: green;
}

.text-bg-warning {
    background-color: orange;
}

.text-bg-danger {
    background-color: red;
}

p.card-text {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}